{%  extends "HillCMSSetariaBundle:Default:bootstrap3-template.html.twig" %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
	    <iframe style="min-height:800px; width:100%"src="http://blast.sviridis.org:4567"></iframe>
        </div>
    </div>		
{% endblock %}
{% block footer %}
	{% include "HillCMSSetariaBundle:Default:footer-template.html.twig"%}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
    });
</script>
{% endblock %}
